doctype html
html(land="en")
    include common/head.pug
    include common/header.pug
    include common/navbar.pug
    include common/footer.pug
    include common/scripts.pug
    include common/accountSideBar.pug
    +head()
    link(rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css")

    #preloader
        #status
            .bouncing-loader
                div
                div
                div 
    body
        +header()
        +navbar()

        section.border-top
            .container
                // row
                .row
                    +accountSideBar('orders')
                    .col-lg-9.col-md-8.col-12
                        .py-6.p-md-6.p-lg-10
                            // heading
                            h2.mb-6 Orders
                            if(orders.length > 0)
                                .table-responsive-xxl.border-0
                                    // Table
                                    table.table.mb-0.text-nowrap.table-centered#orders
                                        // Table Head
                                        thead.bg-light
                                            tr
                                                th Order Number
                                                th Purchase Dttm
                                                th Subtotal
                                                th Total
                                                th Delivery Type
                                                th Delivery Cost
                                        tbody
                                            // Table body
                                            each order in orders
                                                tr(data-orderid=order.id)
                                                    
                                                    td.align-middle.border-top-0
                                                        a.fw-semi-bold.text-inherit(href='#')
                                                            h6.mb-0 #{order.orderNumber}
                                                    td.align-middle.border-top-0
                                                        a.text-inherit(href='#') #{order.purchaseDt}
                                                    td.align-middle.border-top-0
                                                        | £#{order.subTotal}
                                                    td.align-middle.border-top-0
                                                        | £#{order.total}
                                                    td.align-middle.border-top-0
                                                        | #{order.deliveryType}
                                                    td.align-middle.border-top-0
                                                        | £#{order.deliveryPrice}
                                                    
                            else 
                                h5 No Orders For Account
                                a.btn.btn-primary(href="/shop") Start Shopping

        +footer()
        +scripts()
        script(src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js")
        script(src='/js/accountOrders.js')