doctype html
html(land="en")
    include common/head.pug
    include common/header.pug
    include common/navbar.pug
    include common/footer.pug
    include common/scripts.pug
    include common/accountSideBar.pug
    +head()

    #preloader
        #status
            .bouncing-loader
                div
                div
                div 
    body
        +header()
        +navbar()
        div
            if(message)
                #toast.toast.show.toast_alert.align-items-center.text-white.bg-primary.border-0(role='alert' aria-live='assertive' aria-atomic='true')
                    .d-flex
                        .toast-body(style="width:100%")
                            h6.text-white(style="text-align:center") #{message}
                        button.btn-close.btn-close-white.me-2.m-auto(type='button' data-bs-dismiss='toast' aria-label='Close')
                input#message(type="hidden" value=message)
        section.border-top
            .container
                // row
                .row
                    +accountSideBar('settings')
                    .col-lg-9.col-md-8.col-12
                        .py-6.p-md-6.p-lg-10
                            .mb-6
                                // heading
                                h2.mb-0 Settings
                            div
                                // heading
                                h5.mb-4 Account details
                                .row
                                    .col-lg-9
                                        // form
                                        form#form(method="post" action="/")
                                            // input
                                            .mb-3
                                                label.form-label Email
                                                input.form-control(type='email' disabled value=user.email)
                                            // input
                                            .mb-3
                                                label.form-label Name
                                                input.form-control#name(type='text' name="name" required value=user.name)
                                            
                                            // input
                                            .mb-5
                                                label.form-label Phone
                                                input.form-control#phoneNumber(type='text' name="phoneNumber" required value=user.phoneNumber)
                                            // button
                                            .mb-3
                                                button.btn.btn-primary(type="submit") Save Details
                            hr.my-10
                            .pe-lg-14
                                // heading
                                h5.mb-4 Password
                                form#form2.row.row-cols-1.row-cols-lg-2
                                    // input
                                    // input
                                    .mb-3.col
                                        label.form-label Current Password
                                        input.form-control#currentPassword(type='password' required placeholder='**********')
                                        p.text-danger#passwordError
                                    .mb-3.col
                                        label.form-label New Password
                                        input.form-control#password(type='password' required placeholder='**********')
                                    // input
                                    .col-12
                                        button.btn.btn-primary(type="submit") Save Password
                            hr.my-10
                            div
                                // heading
                                h5.mb-4 Deactivate Account
                                p.mb-2 Would you like to deactivate your account?
                                
                                // btn
                                a.btn.btn-outline-danger(href='#' data-bs-toggle='modal' data-bs-target='#deactivateAccountModal') I want to deactivate my account
        #deactivateAccountModal.modal.fade(tabindex='-1' aria-labelledby='deactivateAccountModalLabel' aria-hidden='true')
            .modal-dialog
                .modal-content
                    // modal body
                    .modal-body.p-6
                        .d-flex.justify-content-between.mb-5
                            // heading
                            div
                                h5#deactivateAccountModalLabel.h6.mb-1 Deactivate Account
                            div
                                // button
                                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                        // row
                        .row.g-3
                            // col
                            .col-12
                                p Are you sure you wish to deactivate your account?
                            
                            .col-12.text-end
                                button.btn.btn-outline-primary(style="margin-right:10px" type='button' data-bs-dismiss='modal') Cancel
                                button.btn.btn-primary#deactivateAccount(type='button') Deactivate Account
    
        +footer()
        +scripts()
        script(src='/js/accountSettings.js')