doctype html

html(land="en")
    include common/adminHead.pug
    include common/adminSideNav.pug
    include common/adminTopNavbar.pug
    include common/adminScripts.pug
    +adminHead()
    link(href='/assets/libs/dropzone/dist/min/dropzone.min.css' rel='stylesheet')
    link(href='/assets/css/croppie.css' rel='stylesheet')
    #overlay
        .section.section-full
            .container
                .row.justify-content-center

                    .col-md-10.col-lg-10
                        
                        .form-styled.bg-white(style="overflow-y: scroll;height:640px;margin-top:100px; padding:10px")
                            div#gif(style="display: none;justify-content: center;")
                                img(src="img/loading2.gif" style="margin:auto")
                            
                            
                            div#cropSection
                                div(style="height:400px;width:100%")
                                    #uploadedImageForCrop(style="height:60%;width:100%")
                                div
                                    p(style="text-align:center") Crop image to your liking, and when everything is ok click 'Confirm Crop'
                                    .row
                                        .col-lg-4.text-center
                                            button.btn.btn-outline-primary.btn-block.mt-3(id="confirmCrop") Confirm Crop
                                        .col-lg-4.text-center
                                            button.btn.btn-outline-primary.btn-block.mt-3.text-center(id ="rotate"  data-deg="-90" style="margin-right:5px") Rotate
                                        .col-lg-4.text-center
                                            button.btn.btn-outline-primary.btn-block.mt-3(id ="cancelCrop" ) Cancel
    // main
    div
        if(message)
            #toast.toast.show.toast_alert.align-items-center.text-white.bg-primary.border-0(role='alert' aria-live='assertive' aria-atomic='true')
                .d-flex
                    .toast-body(style="width:100%")
                        h6.text-white(style="text-align:center") #{message}
                    button.btn-close.btn-close-white.me-2.m-auto(type='button' data-bs-dismiss='toast' aria-label='Close')
            input#message(type="hidden" value=message)
        +adminTopNavbar()
        .main-wrapper
            // navbar vertical
            +adminSideNav()
            // main wrapper
            main.main-content-wrapper
                // container
                .container
                    // row
                    .row.mb-8
                        .col-md-12
                            .d-md-flex.justify-content-between.align-items-center
                                // page header
                                div
                                    h2 Add New Product
                                    // breacrumb
                                    nav(aria-label='breadcrumb')
                                        ol.breadcrumb.mb-0
                                            li.breadcrumb-item
                                                a.text-inherit(href='/admin_dashboard') Dashboard
                                            li.breadcrumb-item
                                                a.text-inherit(href='/admin_dashboard/products') Products
                                            li.breadcrumb-item.active(aria-current='page') Add New Product
                                // button
                                div
                                    a.btn.btn-light(href='/admin_dashboard/products') Back to Products
                    // row
                    .row
                        .col-lg-12.col-12
                            // card
                            .card.mb-6.card-lg
                                // card body
                                .card-body.p-6
                                    h4.mb-4.h5 Product Information
                                    .row
                                        form#form
                                            // input
                                            .mb-2
                                                label.form-label  Status
                                                br
                                                .form-check.form-check-inline
                                                    input#active.form-check-input(type='radio' name='statusOptions' value='active' checked='')
                                                    label.form-check-label(for='inlineRadio1') Active
                                                // input
                                                .form-check.form-check-inline
                                                    input#inlinedisRadio2.form-check-input(type='radio' name='statusOptions' value='deactive')
                                                    label.form-check-label(for='inlineRadio2') Deactive
                                            .mb-3.col-lg-6
                                                label.form-label Product Name
                                                input.form-control#name(type='text' required)
                                            // input
                                            .mb-3.col-lg-6
                                                label.form-label Product Type
                                                select.form-select#productType
                                                    each productType in productTypes 
                                                        option(value=productType.id) #{productType.productType}
                                                
                                            div
                                                .mb-3.col-lg-12.mt-5
                                                    // heading
                                                    label.form-label Product Images
                                                    // input
                                                    .row 
                                                        .col-2.mr-2.label-container
                                                            label.dropzone.border-dashed.rounded-2.text-center.label(for="picture1" style="font-size:8pt !important;cursor:pointer;") Add Main Picture
                                                            input.picture(id="picture1" type='file' style="opacity:0" accept="image/x-png,image/jpeg" )
                                                            p.small.text-danger(id="picture1Error")
                                                            
                                                        .col-2.label-container
                                                            label.dropzone.border-dashed.rounded-2.text-center.label(for="picture2" style="font-size:8pt !important;cursor:pointer;") Add Picture 2
                                                            input.picture(id="picture2" type='file' style="opacity:0" accept="image/x-png,image/jpeg" )
                                                            p.small.text-danger(id="picture2Error")
                                                        
                                                        .col-2.label-container
                                                            label.dropzone.border-dashed.rounded-2.text-center.label(for="picture3" style="font-size:8pt !important;cursor:pointer;") Add Picture 3
                                                            input.picture(id="picture3" type='file' style="opacity:0" accept="image/x-png,image/jpeg" )
                                                            p.small.text-danger(id="picture3Error")
                                                        .col-2.label-container
                                                            label.dropzone.border-dashed.rounded-2.text-center.label(for="picture4" style="font-size:8pt !important;cursor:pointer;") Add Picture 4
                                                            input.picture(id="picture4" type='file' style="opacity:0" accept="image/x-png,image/jpeg" )
                                                            p.small.text-danger(id="picture4Error")
                                                        .col-2.label-container
                                                            label.dropzone.border-dashed.rounded-2.text-center.label(for="picture5" style="font-size:8pt !important;cursor:pointer;") Add Picture 5
                                                            input.picture(id="picture5" type='file' style="opacity:0" accept="image/x-png,image/jpeg" )
                                                            p.small.text-danger(id="picture5Error")
                                            // input
                                            .mb-3.col-lg-12.mt-5
                                                label.form-label Main Product Description
                                                textarea.form-control#description(style="height:150px" required)

                                            .mb-3.col-lg-5
                                                label.form-label Sub Product Description Title
                                                input.form-control#subDescriptionTitle(type='text' placeholder='' required='')
                                            // input
                                            .mb-3.col-lg-12
                                                label.form-label Sub Product Description
                                                textarea.form-control#subDescription(style="height:100px" required)
                                            #container
                                                label.form-label Description Bullet Point(s)
                                                .row.mb-3
                                                    .col-sm-10
                                                        
                                                        input.form-control(type='text' required name='input[]')
                                                    .col-sm-1
                                                    
                                                        button.btn.btn-primary.add-btn(type='button') +
                                                    .col-sm-1
                                                    
                                            //- .mb-3.col-lg-6 
                                                label.form-label Description Bullet Point 1
                                                .input-row
                                                    .col-6
                                                        input.form-control(type='text' name='input[]')
                                                    .col-6
                                                        button.btn.btn-success.add-btn +

                                            .mb-3.col-lg-12.mt-5#option-container
                                                input#optionTypes(type="hidden" value=optionTypes)
                                                
                                                .row.mb-3
                                                    
                                                    .col-sm-5
                                                        label.form-label Option Type
                                                        select.form-control.optionTypes( name='select[]')
                                                            option(value=0)
                                                            each optionType in optionTypes 
                                                                option(value=optionType.id) #{optionType.optionType}
                                                    .col-sm-5
                                                        label.form-label Options
                                                        input.selectedOptions.form-control.mb-2(disabled)
                                                        select.form-control.options(required multiple name='options[]')
                                                            
                                                    .col-sm-1
                                                        label.form-label.text-white Options
                                                        br
                                                        button.btn.btn-primary.add-btn-select(type="button") +
                                                    .col-sm-1
                                            
                                            .mb-3.col-lg-12.mt-5#quantities-container
                                                .col-sm-5
                                                    label.form-label Quantities
                                                    select.form-control#quantities(required multiple)
                                                        each quantity in quantities
                                                            option(value=quantity.id) #{quantity.quantity}

                                            .mb-3.col-lg-12.mt-5
                                                .col-sm-12
                                                    label.form-label.mb-2 Price Matrix
                                                    #price-container

                                            #delivery-container
                                                .row.mb-3
                                                    .col-sm-5
                                                        label.form-label Delivery Option
                                                        select.form-control.delivery-select(type='text' required name='delivery[]')
                                                            each deliveryType in deliveryTypes 
                                                                option(value=deliveryType.id) #{deliveryType.name}
                                                    .col-sm-5
                                                        label.form-label Delivery Price
                                                        input.form-control.delivery-price(type='text' required)
                                                    .col-sm-2
                                                        label.form-label.text-white D
                                                        br
                                                        button.btn.btn-primary.add-delivery-btn(type='button') +
                                            // button
                                            .mb-3.col-sm-6.offset-sm-3
                                                .d-grid
                                                    button.btn.btn-primary#createProduct(type='submit')
                                                        | Create Product
                       



        +adminScripts()
        script(src='/assets/libs/quill/dist/quill.min.js')
        script(src='/assets/js/vendors/editor.js')
        script(src='/assets/libs/dropzone/dist/min/dropzone.min.js')
        script(src='/assets/js/croppie.js')
        script(src='/js/addProduct.js')
        script(src="/js/adminDashboard.js")