doctype html

html(land="en")
    include common/adminHead.pug
    include common/adminSideNav.pug
    include common/adminTopNavbar.pug
    include common/adminScripts.pug
    +adminHead()
    link(rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css")
    // main
    div
        if(message)
            #toast.toast.show.toast_alert.align-items-center.text-white.bg-primary.border-0(role='alert' aria-live='assertive' aria-atomic='true')
                .d-flex
                    .toast-body(style="width:100%")
                        h6.text-white(style="text-align:center") #{message}
                    button.btn-close.btn-close-white.me-2.m-auto(type='button' data-bs-dismiss='toast' aria-label='Close')
            input#message(type="hidden" value=message)
        
        +adminTopNavbar()
        .main-wrapper
            // navbar vertical
            +adminSideNav()
            // main wrapper
            main.main-content-wrapper
                .container
                    .row.mb-8
                        .col-md-12
                            // page header
                            .d-md-flex.justify-content-between.align-items-center
                                div
                                    h2 Product Types
                                    // breacrumb
                                    nav(aria-label='breadcrumb')
                                        ol.breadcrumb.mb-0
                                            li.breadcrumb-item
                                                a.text-inherit(href='/admin_dashboard') Dashboard
                                            li.breadcrumb-item.active(aria-current='page') Product Types
                                // button
                                div
                                    a.btn.btn-primary(href='/admin_dashboard/add_product_type') Add Product Type
                    // row
                    .row
                        .col-xl-12.col-12.mb-5
                            // card
                            .card.h-100.card-lg
                                
                                // card body
                                .card-body.p-0(style="padding: 20px !important")
                                    // table
                                    .table-responsive
                                        table.table.table-centered.table-hover.text-nowrap.table-borderless.mb-0.table-with-checkbox#productTypes(style="cursor:pointer")
                                            thead.bg-light
                                                tr
                                                    //- th
                                                        .form-check
                                                            input#checkAll.form-check-input(type='checkbox' value='')
                                                            label.form-check-label(for='checkAll')
                                                    th(style="width:33.33%") Product Type
                                                    th(style="width:33.33%") Products
                                                    th(style="width:33.33%") Status
                                            tbody
                                                each productType in productTypes
                                                    tr(data-producttypeid=productType.id)
                                                        //- td
                                                            .form-check
                                                                input#productOne.form-check-input(type='checkbox' value='')
                                                                label.form-check-label(for='productOne')
                                                        
                                                        td
                                                            p.text-reset #{productType.productType}
                                                        td
                                                            p.text-reset #{productType.numberOfProducts}
                                                        td
                                                            if(productType.deleteFl == false)
                                                                span.badge.bg-light-primary.text-dark-primary Active
                                                            else 
                                                                span.span.badge.bg-light-danger.text-dark-danger Deactive
        //- #addProductTypeModal.modal.fade(tabindex='-1' aria-labelledby='addProductTypeModalLabel' aria-hidden='true')
            .modal-dialog
                .modal-content
                    // modal body
                    .modal-body.p-6
                        .d-flex.justify-content-between.mb-5
                            // heading
                            div
                                h5#addProductTypeModalLabel.h6.mb-1 Add Product Type
                            div
                                // button
                                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                        // row
                        form#form(method="/" action='post')
                            .row.g-3
                                // col
                                .col-12
                                    label.mb-2 Product Type
                                    input.form-control#productType(type="text" required)
                                    p.text-danger#error
                                // button
                                .col-12.text-end
                                    button.btn.btn-outline-primary(style="margin-right:10px" type='button' data-bs-dismiss='modal') Cancel
                                    button.btn.btn-primary#addProductType(type='submit') Add Product Type                                                   
                                                        
                                



        +adminScripts()
        script(src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js")
        script(src="/js/adminProductTypes.js")
        script(src="/js/adminDashboard.js")