doctype html

html(land="en")
    include common/adminHead.pug
    include common/adminSideNav.pug
    include common/adminTopNavbar.pug
    include common/adminScripts.pug
    +adminHead()
    link(rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css")
    // main
    div

        +adminTopNavbar()
        .main-wrapper
            // navbar vertical
            +adminSideNav()
            // main wrapper
            main.main-content-wrapper
                .container
                    .row.mb-8
                        .col-md-12
                            // page header
                            .d-md-flex.justify-content-between.align-items-center
                                div
                                    h2 Orders
                                    // breacrumb
                                    nav(aria-label='breadcrumb')
                                        ol.breadcrumb.mb-0
                                            li.breadcrumb-item
                                                a.text-inherit(href='/admin_dashboard') Dashboard
                                            li.breadcrumb-item.active(aria-current='page') Orders
                                // button

                    .row
                        .col-xl-12.col-12.mb-5
                            // card
                            .card.h-100.card-lg
                                .card-body.p-0(style="padding: 20px !important")
                                    // table
                                    .table-responsive
                                        table.table.table-centered.table-hover.text-nowrap.table-borderless.mb-0.table-with-checkbox#orders(style="cursor:pointer")
                                            thead.bg-light
                                                tr
                                                    th Order Number 
                                                    th Email 
                                                    th Name
                                                    th Purchase Date 
                                                    th Customer Type
                                                    th Subtotal
                                                    th Total
                                                    th Delivery Type
                                                    th Delivery Price
                                            
                                            tbody 
                                                each order in orders 
                                                    tr(data-orderid=order.id)

                                                        td 
                                                            p.text-rest #{order.orderNumber}
                                                        td 
                                                            p.text-rest #{order.email}
                                                    
                                                        td 
                                                            p.text-rest #{order.fullName}
                                                        td 
                                                            p.text-rest #{order.purchaseDt}
                                                        td 
                                                            if(order.guestFl )
                                                                span.badge.bg-light-danger.text-dark-primary Guest
                                                            else 
                                                                span.badge.bg-light-primary.text-dark-primary Account
                                                        td 
                                                            p.text-rest £#{order.subTotal}
                                                        td 
                                                            p.text-rest £#{(parseFloat(order.total)).toFixed(2)}
                                                        
                                                        td 
                                                            p.text-rest #{order.deliveryType}
                                                        td 
                                                            p.text-rest £#{order.deliveryPrice}

        +adminScripts()
        script(src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js")
        script(src="/js/adminOrders.js")