html(land="en")
    include common/adminHead.pug
    include common/adminSideNav.pug
    include common/adminTopNavbar.pug
    include common/adminScripts.pug
    +adminHead()
    link(href='/assets/libs/dropzone/dist/min/dropzone.min.css' rel='stylesheet')
    link(href='/assets/css/croppie.css' rel='stylesheet')
    #overlay
        .section.section-full
            .container
                .row.justify-content-center

                    .col-md-10.col-lg-10
                        
                        .form-styled.bg-white(style="overflow-y: scroll;height:640px;margin-top:100px; padding:10px")
                            div#gif(style="display: none;justify-content: center;")
                                img(src="img/loading2.gif" style="margin:auto")
                            
                            
                            div#cropSection
                                div(style="height:400px;width:100%")
                                    #uploadedImageForCrop(style="height:60%;width:100%")
                                div
                                    p(style="text-align:center") Crop image to your liking, and when everything is ok click 'Confirm Crop'
                                    .row
                                        .col-lg-4.text-center
                                            button.btn.btn-outline-primary.btn-block.mt-3(id="confirmCrop") Confirm Crop
                                        .col-lg-4.text-center
                                            button.btn.btn-outline-primary.btn-block.mt-3.text-center(id ="rotate"  data-deg="-90" style="margin-right:5px") Rotate
                                        .col-lg-4.text-center
                                            button.btn.btn-outline-primary.btn-block.mt-3(id ="cancelCrop" ) Cancel
    // main
    div
        if(message)
            #toast.toast.show.toast_alert.align-items-center.text-white.bg-primary.border-0(role='alert' aria-live='assertive' aria-atomic='true')
                .d-flex
                    .toast-body(style="width:100%")
                        h6.text-white(style="text-align:center") #{message}
                    button.btn-close.btn-close-white.me-2.m-auto(type='button' data-bs-dismiss='toast' aria-label='Close')
            input#message(type="hidden" value=message)
        +adminTopNavbar()
        .main-wrapper
            // navbar vertical
            +adminSideNav()
            // main wrapper
            main.main-content-wrapper
                // container
                .container
                    // row
                    .row.mb-8
                        .col-md-12
                            .d-md-flex.justify-content-between.align-items-center
                                // page header
                                div
                                    input#productId(type="hidden" value=product.id)
                                    input#product(type="hidden" value=product)
                                    h2 Product Details
                                    // breacrumb
                                    nav(aria-label='breadcrumb')
                                        ol.breadcrumb.mb-0
                                            li.breadcrumb-item
                                                a.text-inherit(href='/admin_dashboard') Dashboard
                                            li.breadcrumb-item
                                                a.text-inherit(href='/admin_dashboard/products') Products
                                            li.breadcrumb-item.active(aria-current='page') Product Details
                                // button
                                div
                                    a.btn.btn-light(href='/admin_dashboard/products') Back to Product
                    // row
                    .row
                        .col-lg-12.col-12
                            // card
                            .card.mb-6.card-lg
                                // card body
                                .card-body.p-6
                                    h4.mb-4.h5 Product Information
                                    .row
                                        form#form
                                            // input
                                            .mb-2
                                                label.form-label  Status
                                                br
                                                .form-check.form-check-inline
                                                    if(product.deleteFl == false)
                                                        input#active.form-check-input(type='radio' name='statusOptions' value='active' checked='')
                                                    else 
                                                        input#active.form-check-input(type='radio' name='statusOptions' value='active')
                                                    label.form-check-label(for='inlineRadio1') Active
                                                // input
                                                .form-check.form-check-inline
                                                    if(product.deleteFl == false)
                                                        input#inlinedisRadio2.form-check-input(type='radio' name='statusOptions' value='deactive')
                                                    else 
                                                        input#inlinedisRadio2.form-check-input(type='radio' name='statusOptions' value='deactive' checked)
                                                    label.form-check-label(for='inlineRadio2') Deactive
                                            .mb-3.col-lg-6
                                                label.form-label Product Name
                                                input.form-control#name(type='text' value=product.name required)
                                            // input
                                            .mb-3.col-lg-6
                                                label.form-label Product Type
                                                select.form-select#productType
                                                    each productType in productTypes 
                                                        option(value=productType.id selected=(product.productTypeFk == productType.id)) #{productType.productType}
                                                
                                            div
                                                .mb-3.col-lg-12.mt-5
                                                    // heading
                                                    label.form-label Product Images
                                                    // input
                                                    .row 
                                                        .col-2.mr-2.label-container
                                                            label.border-dashed.rounded-2.text-center.label(for="picture1" style='font-size:8pt !important;cursor:pointer; background-size:cover; background-position:center; background-image: url("' + product.image1Path + '")')
                                                            button.small-button.btn.btn-danger(type="button") X
                                                            input.picture(id="picture1" type='file' style="opacity:0" accept="image/x-png,image/jpeg" )
                                                            p.small.text-danger(id="picture1Error")
                                                            
                                                        .col-2.label-container
                                                            if(product.image2Path)
                                                                label.border-dashed.rounded-2.text-center.label(for="picture2" style='font-size:8pt !important;cursor:pointer; background-size:cover; background-position:center; background-image: url("' + product.image2Path + '")')
                                                                button.small-button.btn.btn-danger(type="button") X
                                                                input.picture(id="picture2" type='file' style="opacity:0" accept="image/x-png,image/jpeg" )

                                                            else 
                                                                label.dropzone.border-dashed.rounded-2.text-center.label(for="picture2" style="font-size:8pt !important;cursor:pointer;") Add Picture 2
                                                                input.picture(id="picture2" type='file' style="opacity:0" accept="image/x-png,image/jpeg" )
                                                            p.small.text-danger(id="picture2Error")
                                                        
                                                        .col-2.label-container
                                                            if(product.image3Path)
                                                                label.border-dashed.rounded-2.text-center.label(for="picture3" style='font-size:8pt !important;cursor:pointer; background-size:cover; background-position:center; background-image: url("' + product.image3Path + '")')
                                                                button.small-button.btn.btn-danger(type="button") X
                                                                input.picture(id="picture3" type='file' style="opacity:0" accept="image/x-png,image/jpeg" )
                                                            else
                                                                label.dropzone.border-dashed.rounded-2.text-center.label(for="picture3" style="font-size:8pt !important;cursor:pointer;") Add Picture 3
                                                                input.picture(id="picture3" type='file' style="opacity:0" accept="image/x-png,image/jpeg" )
                                                            p.small.text-danger(id="picture3Error")

                                                        .col-2.label-container
                                                            if(product.image4Path)
                                                                label.border-dashed.rounded-2.text-center.label(for="picture4" style='font-size:8pt !important;cursor:pointer; background-size:cover; background-position:center; background-image: url("' + product.image4Path + '")')
                                                                button.small-button.btn.btn-danger(type="button") X
                                                                input.picture(id="picture4" type='file' style="opacity:0" accept="image/x-png,image/jpeg" )
                                                            else
                                                                label.dropzone.border-dashed.rounded-2.text-center.label(for="picture4" style="font-size:8pt !important;cursor:pointer;") Add Picture 4
                                                                input.picture(id="picture4" type='file' style="opacity:0" accept="image/x-png,image/jpeg" )
                                                            p.small.text-danger(id="picture4Error")
                                                        .col-2.label-container
                                                            if(product.image5Path)
                                                                label.border-dashed.rounded-2.text-center.label(for="picture5" style='font-size:8pt !important;cursor:pointer; background-size:cover; background-position:center; background-image: url("' + product.image5Path + '")')
                                                                button.small-button.btn.btn-danger(type="button") X
                                                                input.picture(id="picture5" type='file' style="opacity:0" accept="image/x-png,image/jpeg" )
                                                            else
                                                                label.dropzone.border-dashed.rounded-2.text-center.label(for="picture5" style="font-size:8pt !important;cursor:pointer;") Add Picture 5
                                                                input.picture(id="picture5" type='file' style="opacity:0" accept="image/x-png,image/jpeg" )
                                                            p.small.text-danger(id="picture5Error")
                                            // input
                                            .mb-3.col-lg-12.mt-5
                                                label.form-label Main Product Description
                                                textarea.form-control#description(style="height:150px" required) #{product.description}

                                            .mb-3.col-lg-5
                                                label.form-label Sub Product Description Title
                                                input.form-control#subDescriptionTitle(type='text' placeholder='' required='' value=product.subDescriptionTitle)
                                            // input
                                            .mb-3.col-lg-12
                                                label.form-label Sub Product Description
                                                textarea.form-control#subDescription(style="height:100px" required) #{product.subDescription}
                                            #container
                                                label.form-label Description Bullet Point(s)
                                                .row.mb-3
                                                    .col-sm-10
                                                        
                                                        input.form-control(type='text' required name='input[]' value=product.descriptionPoint1)
                                                    .col-sm-2
                                                        if(product.descriptionPoint2 != null)
                                                            button.btn.btn-primary.description-point.remove-btn.btn-danger(type='button') Remove
                                                        else
                                                            button.btn.btn-primary.add-btn(type='button') +
                                                if(product.descriptionPoint2)
                                                    .row.mb-3
                                                        .col-sm-10
                                                            
                                                            input.form-control(type='text' required name='input[]' value=product.descriptionPoint2)
                                                        .col-sm-2
                                                            if(product.descriptionPoint3 != null)
                                                                button.btn.btn-primary.description-point.remove-btn.btn-danger(type='button') Remove
                                                            else
                                                                button.btn.btn-primary.add-btn(type='button') +

                                                if(product.descriptionPoint3)
                                                    .row.mb-3
                                                        .col-sm-10
                                                            
                                                            input.form-control(type='text' required name='input[]' value=product.descriptionPoint3)
                                                        .col-sm-2
                                                            if(product.descriptionPoint4 != null)
                                                                button.btn.btn-primary.description-point.remove-btn.btn-danger(type='button') Remove
                                                            else
                                                                button.btn.btn-primary.add-btn(type='button') +
                                                
                                                if(product.descriptionPoint4)
                                                    .row.mb-3
                                                        .col-sm-10
                                                            
                                                            input.form-control(type='text' required name='input[]' value=product.descriptionPoint4)
                                                        .col-sm-2
                                                            if(product.descriptionPoint5 != null)
                                                                button.btn.btn-primary.description-point.remove-btn.btn-danger(type='button') Remove
                                                            else
                                                                button.btn.btn-primary.add-btn(type='button') +

                                                if(product.descriptionPoint5)
                                                    .row.mb-3
                                                        .col-sm-10
                                                            
                                                            input.form-control(type='text' required name='input[]' value=product.descriptionPoint5)
                                                        .col-sm-2
                                                            if(product.descriptionPoint6 != null)
                                                                button.btn.btn-primary.description-point.remove-btn.btn-danger(type='button') Remove
                                                            else
                                                                button.btn.btn-primary.add-btn(type='button') +

                                                if(product.descriptionPoint6)
                                                    .row.mb-3
                                                        .col-sm-10
                                                            input.form-control(type='text' required name='input[]' value=product.descriptionPoint6)
                                                        .col-sm-2
                                                            button.btn.btn-primary.add-btn(type='button') +
                                            //- .mb-3.col-lg-6 
                                                label.form-label Description Bullet Point 1
                                                .input-row
                                                    .col-6
                                                        input.form-control(type='text' name='input[]')
                                                    .col-6
                                                        button.btn.btn-success.add-btn +

                                            .mb-3.col-lg-12.mt-5#option-container
                                                input#optionTypes(type="hidden" value=optionTypes)
                                                
                                                - var optionObjects = Object.keys(optionTypesAndOptions).map((key, index) => ({ index, key, value: optionTypesAndOptions[key] }));

                                                each optionObject in optionObjects
                                                    .row.mb-3
                                                        
                                                        .col-sm-6
                                                            label.form-label Option Type
                                                            //- p #{value}
                                                            select.form-control.optionTypes( name='select[]' disabled)
                                                                option(value=0)
                                                                each optionType in optionTypes
                                                                    option(value=optionType.id selected=(optionObject.value[0].optionTypeId == optionType.id)) #{optionType.optionType}
                                                        .col-sm-6
                                                            label.form-label Options
                                                            input.selectedOptions.form-control.mb-2(disabled value=optionObject.value[0].selectedOptionNames)
                                                            //- each x in value.map(o=> o.optionId)
                                                                p #{x}
                                                            select.form-control.options(required multiple name='options[]')
                                                                each option in optionObject.value[0].allOptions 
                                                                    option(value=option.id data-optiontype=optionObject.key data-optiontypeid=option.optionTypeFk selected=(optionObject.value.map(o=> o.optionId).includes(option.id))) #{option.name} 
                                                                
                                                        //- .col-sm-2
                                                            label.form-label.text-white Options
                                                            br
                                                            if(optionObject.index == (Object.keys(optionTypesAndOptions).length -1 ))
                                                                button.btn.btn-primary.add-btn-select(type="button") +
                                                            else
                                                                button.btn.btn-primary.remove-btn-select.btn-danger(type="button") Remove
                                            
                                            .mb-3.col-lg-12.mt-5#quantities-container
                                                .col-sm-5
                                                    label.form-label Quantities
                                                    select.form-control#quantities(required multiple)
                                                        each quantity in quantities
                                                            option(value=quantity.id selected=(selectedQuantities.map(q => q.id).includes(quantity.id))) #{quantity.quantity}
                                            input#matrixRows(type="hidden" value=matrixRows)
                                            .mb-3.col-lg-12.mt-5
                                                .col-sm-12
                                                    label.form-label.mb-2 Price Matrix
                                                    #price-container
                                                        table#priceMatrixTable.table.table-striped(style="font-size:9pt") 
                                                            thead.text-center 
                                                                each optionType in selectedOptionTypes 
                                                                    th #{optionType}
                                                                
                                                                each quantity in selectedQuantities 
                                                                    th #{quantity.quantity}
                                                            tbody 
                                                                each row in matrixRows 
                                                                    tr 
                                                                        each option in row[0].options
                                                                            td(data-optionid=option.id) #{option.name}
                                                                        
                                                                        each item in row 
                                                                            td
                                                                                input.form-control.quantity(data-quantityid=item.quantityFk data-priceMatrixRowQuantityPriceId = item.priceMatrixRowQuantityPriceId data-optiongroupid=item.optionGroupFk type="text" required value=item.price)

                                            #delivery-container
                                                input#totalProductDelivery(type="hidden" value=productDeliveries.length)
                                                input#productDeliveries(type="hidden" value=productDeliveries)
                                                each productDelivery, index in productDeliveries
                                                    .row.mb-3
                                                        .col-sm-5
                                                            label.form-label Delivery Option
                                                            select.form-control.delivery-select(type='text' required name='delivery[]' data-current-deliverytypeid=productDelivery.deliveryTypeFk)
                                                                each deliveryType in deliveryTypes.filter(d => !(productDeliveries.filter(pd => pd != productDelivery).map(o => o.deliveryTypeFk)).includes(d.id))
                                                                    option(value=deliveryType.id selected=(productDelivery.deliveryTypeFk == deliveryType.id)) #{deliveryType.name}
                                                        .col-sm-5
                                                            label.form-label Delivery Price
                                                            input.form-control.delivery-price(type='text' value=productDelivery.price required)
                                                        .col-sm-2
                                                            label.form-label.text-white D
                                                            br
                                                            if(index == (productDeliveries.length -1))
                                                                button.btn.btn-primary.add-delivery-btn(type='button') +  
                                                            else
                                                                button.btn.btn-danger.remove-delivery-btn(type='button') Remove                           

                                            // button
                                            .mb-3.col-sm-6.offset-sm-3
                                                .d-grid
                                                    button.btn.btn-primary#createProduct(type='submit')
                                                        | Save Changes
                       



        +adminScripts()
        script(src='/assets/libs/quill/dist/quill.min.js')
        script(src='/assets/js/vendors/editor.js')
        script(src='/assets/libs/dropzone/dist/min/dropzone.min.js')
        script(src='/assets/js/croppie.js')
        script(src='/js/editProduct.js')
        script(src="/js/adminDashboard.js")