doctype html

html(land="en")
    include common/adminHead.pug
    include common/adminSideNav.pug
    include common/adminTopNavbar.pug
    include common/adminScripts.pug
    include common/adminAccountSideBar.pug

    +adminHead()
    // main
    div

        +adminTopNavbar()
        .main-wrapper
            // navbar vertical
            +adminSideNav()
            // main wrapper
            if(message)
                #toast.toast.show.toast_alert.align-items-center.text-white.bg-primary.border-0(role='alert' aria-live='assertive' aria-atomic='true')
                    .d-flex
                        .toast-body(style="width:100%")
                            h6.text-white(style="text-align:center") #{message}
                        button.btn-close.btn-close-white.me-2.m-auto(type='button' data-bs-dismiss='toast' aria-label='Close')
                input#message(type="hidden" value=message)
            main.main-content-wrapper
                .container
                    .row.mb-8
                        .col-md-12
                            // page header
                            .d-md-flex.justify-content-between.align-items-center
                                div
                                    h2 Order Details
                                    // breacrumb
                                    nav(aria-label='breadcrumb')
                                        ol.breadcrumb.mb-0
                                            li.breadcrumb-item
                                                a.text-inherit(href='/admin-dashboard') Dashboard
                                            li.breadcrumb-item
                                                a.text-inherit(href='/admin-dashboard/accounts') Accounts
                                            li.breadcrumb-item
                                                a.text-inherit(href='/admin-dashboard/account/' + account.id + '/orders') Account
                                            li.breadcrumb-item.active(aria-current='page') Order
                                // button
                                div
                                    a.btn.btn-primary(href=(account.guestFl ? '/admin-dashboard/orders' : '/admin-dashboard/account/' + account.id + '/orders')) Back to all orders


                    .row
                        .col-xl-12.col-12.mb-5
                            // card
                            .card.h-100.card-lg
                                .card-body.p-6
                                    .d-md-flex.justify-content-between
                                        .d-flex.align-items-center.mb-2.mb-md-0
                                            h2.mb-0 Order Number: #{order.orderNumber}
                                        // select option
                                        .d-md-flex

                                            // button
                                            .ms-md-3
                                                btn.btn.btn-outline-primary.btn-sm(type="button" onclick='window.print()') Download Invoice
                                    .mt-8
                                        .row
                                            // address
                                            .col-lg-4.col-md-4.col-12
                                                .mb-6
                                                    h6 Customer Details
                                                    p.mb-1.lh-lg
                                                        | #{order.fullName}
                                                        br
                                                        | #{order.email}
                                                        br
                                                        | #{order.phoneNumber}
                                                    if(account.guestFl == false)
                                                        a(href='/admin-dashboard/account/' + account.id) View Profile
                                            // address
                                            .col-lg-4.col-md-4.col-12

                                                .mb-6
                                                    if(shippingDetail != null)
                                                        h6 Shipping Address
                                                        p.mb-1.lh-lg
                                                            | #{shippingDetail.addressLine1}
                                                            if(shippingDetail.addressLine2 != null)
                                                                br
                                                                | #{shippingDetail.addressLine2}
                                                            br
                                                            | #{shippingDetail.city}
                                                            br
                                                            | #{shippingDetail.postCode}
                                                    else 
                                                        h6 Collection
                                            // address
                                            .col-lg-4.col-md-4.col-12
                                                .mb-6
                                                    h6 Order Details
                                                    p.mb-1.lh-lg
                                                        | Order Number: 
                                                        span.text-dark #{order.orderNumber}
                                                        br
                                                        |                           Order Date: 
                                                        span.text-dark #{order.purchaseDt}
                                                        br
                                                        |                           Order Total: 
                                                        span.text-dark £#{parseFloat(order.total).toFixed(2)}
                                .row
                                    .col-12
                                        .table-responsive
                                            // Table
                                            table.table.mb-0.text-nowrap.table-centered
                                                // Table Head
                                                thead.bg-light
                                                    tr
                                                        th Products
                                                        th Price
                                                        th Quantity
                                                        th Files
                                                        th Total
                                                // tbody
                                                tbody
                                                    each basketItem in basketItems
                                                        tr
                                                            td
                                                                a.text-inherit(href='#')
                                                                    .d-flex.align-items-center
                                                                        .ms-lg-4.mt-2.mt-lg-0
                                                                            h5.mb-0.h6
                                                                                | #{basketItem.productName}
                                                                            each option in basketItem.options 
                                                                                p.mb-0 #{option.optionType}: #{option.name}
                                                                            each finishingOption in basketItem.finishingOptions 
                                                                                p.mb-0 #{finishingOption.optionType}: #{finishingOption.name}
                                                            td
                                                                span.text-body £#{(parseFloat(basketItem.price)/parseFloat(basketItem.quantity)).toFixed(2)}
                                                            td #{basketItem.quantity}
                                                            td 
                                                                each fileGroupItem in basketItem.fileGroupItems 
                                                                    a(href=fileGroupItem.path) #{fileGroupItem.fileName}
                                                                    br
                                                            
                                                            td £#{basketItem.price}


                                                    tr
                                                        td.border-bottom-0.pb-0
                                                        td.border-bottom-0.pb-0
                                                        td.border-bottom-0.pb-0
                                                        td.fw-medium.text-dark(colspan='1')
                                                            // text
                                                            | Sub Total :
                                                        td.fw-medium.text-dark
                                                            // text
                                                            | £#{order.subTotal}
                                                    tr
                                                        td.border-bottom-0.pb-0
                                                        td.border-bottom-0.pb-0
                                                        td.border-bottom-0.pb-0
                                                        td.fw-medium.text-dark(colspan='1')
                                                            // text
                                                            | #{order.deliveryType}
                                                        td.fw-medium.text-dark
                                                            // text
                                                            | £#{order.deliveryPrice}
                                                    tr
                                                        td
                                                        td
                                                        td
                                                        td.fw-semi-bold.text-dark(colspan='1')
                                                            // text
                                                            | Total
                                                        td.fw-semi-bold.text-dark
                                                            // text
                                                            | £#{(parseFloat(order.total)).toFixed(2)}
                                .card-body.p-6
                                    .row

                                        .col-md-6.mb-4.mb-lg-0
                                            input#refunds(type="hidden" value=refunds)
                                            input#orderId(type="hidden" value=order.id)
                                            input#orderTotal(type="hidden" value=order.total)
                                            if(refunds.length > 0)
                                                h6 Refunds 
                                            each refund in refunds 
                                                p #{refund.type} -  £#{(refund.amount/100).toFixed(2)} - #{refund.createdDt}

                                            if(isNewRefundPossible == true)
                                                a.btn.btn-primary(href='#' data-bs-toggle='modal' data-bs-target='#createRefundModal') Create Refund


                                        .col-md-6.mb-4.mb-lg-0
                                            h6 Payment Info
                                            span Card Payment
        #createRefundModal.modal.fade(tabindex='-1' aria-labelledby='createRefundModalLabel' aria-hidden='true')
            .modal-dialog
                .modal-content
                    // modal body
                    .modal-body.p-6
                        .d-flex.justify-content-between.mb-5
                            // heading
                            div
                                h5#createRefundModalLabel.h6.mb-1 Create Refund - Order #{order.orderNumber}
                            div
                                // button
                                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                        // row
                        .row.g-3
                            // col
                            .col-12
                                label.mb-2 Refund Type
                                #refundTypesSection
                                //- select.form-control(name="") 
                                //-     each refundType in refundTypes 
                                //-         option(value=refundType.id) #{refundType.type}
                            // col
                            #refundAmountSection
                            
                            // button
                            .col-12.text-end
                                button.btn.btn-outline-primary(style="margin-right:10px" type='button' data-bs-dismiss='modal') Cancel
                                button.btn.btn-primary#createRefund(type='button') Create Refund
        +adminScripts()
        script(src='/js/adminOrder.js')
