doctype html
html(land="en")
    include common/head.pug
    include common/header.pug
    include common/navbar.pug
    include common/footer.pug
    include common/scripts.pug
    +head()
    #preloader
        #status
            .bouncing-loader
                div
                div
                div 
    body
        +header()
        +navbar()
        main
            .mt-4
                .container
                    // row
                    .row
                        // col
                        .col-12
                            // breadcrumb
                            nav(aria-label='breadcrumb')
                                ol.breadcrumb.mb-0
                                    li.breadcrumb-item
                                        a(href='/') Home

                                    li.breadcrumb-item
                                        a(href='/shop') Shop 
                                    li.breadcrumb-item
                                        a(href='/basket') Basket 

                                    li.breadcrumb-item.active(aria-current='page') Checkout


            section.mb-lg-14.mb-8.mt-8
                .container
                    // row
                    .row
                        // col
                        .col-12
                            div
                                .mb-8
                                    // text
                                    h1.fw-bold.mb-0 Checkout

                    form#form(method='/' action='post')
                        // row
                        .row
                            .col-lg-7.col-md-12
                                // accordion
                                label.mb-3(for="email") Email 
                                input.form-control.mb-3#email(type="text" name="email" disabled value=(user.guestFl == true ? guestEmail : user.email) required) 

                                label.mb-3(for="email") Full Name
                                    span.text-danger  *
                                input.form-control#fullName.mb-3(type="text" name="fullName" value=(user.guestFl == true ? '' : user.name) required)

                                label.mb-3(for="phoneNumber") Phone Number
                                    span.text-danger  *
                                input.form-control#phoneNumber.mb-3(type="text" name="phoneNumber" value=(user.guestFl == true ? '' : user.phoneNumber) required) 
                                p.text-danger#phoneNumberError
                                hr
                                h3 Delivery Options
                                #flush-collapseOne.accordion-collapse.collapse.show(data-bs-parent='#accordionFlushExample')
                                    .mt-5
                                        .row
                                            //- each deliveryOption, index in deliveryOptions
                                            //-     .col-lg-6.col-12.mb-4
                                            //-         // form
                                            //-         .card.card-body.p-6
                                            //-             .form-check.mb-4
                                            //-                 input.form-check-input.delivery-options(type='radio' name='flexRadioDefault' checked=(index==0) data-delivery-name=deliveryOption.name data-deliverytypeid=deliveryOption.id data-price=deliveryOption.price data-collectfl=(deliveryOption.collectFl == true ? 'true' : 'false'))
                                            //-                 label.form-check-label.text-dark
                                            //-                     | #{deliveryOption.name} -
                                            //-                     | <b>£#{deliveryOption.price}</b>
                                            //-             // address
                                            //-             if(deliveryOption.collectFl == true)
                                            //-                 address #{companyDetails.COMPANY_ADDRESS}
                                                                
                                            //-                     br
                                            //-                     abbr(title='Phone') P: #{companyDetails.COMPANY_PHONE}
                                            .col-lg-12.col-12.mb-4
                                                .card.card-body.p-6
                                                    .form-check.mb-4
                                                        input.form-check-input.delivery-options(type='radio' name='flexRadioDefault' checked data-delivery-name="Collection" data-collectfl="true" data-price="0.00")
                                                        label.form-check-label.text-dark(style="display: flex; justify-content: space-between;")
                                                            span(style="text-align:left")
                                                                <b>Collection - #{deliveryOptions.collectionWorkingDays} Business days </b>
                                                            span(style="text-align:right")
                                                                <b>£0.00</b>

                                                        //- label.form-check-label.text-dark Estimated Collection by 
                                                        address Estimated Collection by #{deliveryOptions.collectionDate}  <br><br>#{companyDetails.COMPANY_ADDRESS}
                                                            br
                                                            abbr(title='Phone') P: #{companyDetails.COMPANY_PHONE}

                                            
                                            .col-lg-12.col-12.mb-4
                                                .card.card-body.p-6
                                                    .form-check.mb-4
                                                        input.form-check-input.delivery-options(type='radio' name='flexRadioDefault' data-delivery-name="Express" data-collectfl="false" data-price=deliveryOptions.expressPrice)
                                                        label.form-check-label.text-dark(style="display: flex; justify-content: space-between;")
                                                            span(style="text-align:left")
                                                                <b>Express - #{deliveryOptions.expressWorkingDays} Business days</b>
                                                            span(style="text-align:right")
                                                                <b>£#{deliveryOptions.expressPrice}</b>

                                                        //- label.form-check-label.text-dark Estimated Collection by 
                                                        address Estimated Collection by #{deliveryOptions.expressDate}

                                            .col-lg-12.col-12.mb-4
                                                .card.card-body.p-6
                                                    .form-check.mb-4
                                                        input.form-check-input.delivery-options(type='radio' name='flexRadioDefault' data-delivery-name="Standard" data-collectfl="false" data-price=deliveryOptions.standardPrice)
                                                        label.form-check-label.text-dark(style="display: flex; justify-content: space-between;")
                                                            span(style="text-align:left")
                                                                <b>Standard - #{deliveryOptions.standardWorkingDays} Business days</b>
                                                            span(style="text-align:right")
                                                                <b>£#{deliveryOptions.standardPrice}</b>

                                                        //- label.form-check-label.text-dark Estimated Collection by 
                                                        address Estimated Collection by #{deliveryOptions.standardDate}
                                #addressSection                    
                                
                            .col-12.col-md-12.offset-lg-1.col-lg-4
                                .mt-4.mt-lg-0
                                    .card.shadow-sm
                                        // heading
                                        h5.px-6.py-4.bg-transparent.mb-0 Order Summary
                                        //- .card.mb-2
                                            // list group
                                        ul.list-group.list-group-flush
                                            // list group item
                                            li.list-group-item.d-flex.justify-content-between.align-items-start
                                                .me-auto
                                                    .fw-bold Your Basket
                                                span.fw-bold £#{basketItems.totalCost}
                                            //- li.list-group-item.d-flex.justify-content-between.align-items-start
                                                .me-auto
                                                    .fw-bold Subtotal
                                                span.fw-bold £#{basketItems.subTotalCost}
                                            li.list-group-item.d-flex.justify-content-between.align-items-start
                                                #deliverySubTotalSection(style="width:100%")
                                                    div
                                            if(basketItems.basketItems.filter(b => b.saleFk || b.promoCodeFk).length > 0)
                                                li.list-group-item.d-flex.justify-content-between.align-items-start
                                                    .me-auto
                                                        div Discount
                                                    span - £#{basketItems.totalDiscount}
                                                li.list-group-item.d-flex.justify-content-between.align-items-start
                                                    .me-auto
                                                        .fw-bold 
                                                    span.fw-bold Discounts Applied

                                                if(basketItems.totalSaleAmount !== '0.00')
                                                    li.list-group-item.d-flex.justify-content-between.align-items-start
                                                        .me-auto
                                                            div #{basketItems.sale}
                                                        span - £#{basketItems.totalSaleAmount}
                                                
                                                if(basketItems.totalPromoCodeAmount !== '0.00')
                                                    li.list-group-item.d-flex.justify-content-between.align-items-start
                                                        .me-auto
                                                            div #{basketItems.code}
                                                        span - £#{basketItems.totalPromoCodeAmount}  
                                            
                                            li.list-group-item.d-flex.justify-content-between.align-items-start
                                                .me-auto
                                                    .fw-bold#subTotal(data-subtotal=basketItems.subTotalCost) Total (including delivery)
                                                span.fw-bold 
                                                    div#total
                                    a(href='/basket')
                                        .card.shadow-sm.mt-5
                                            h5.px-6.py-4.bg-transparent.mb-0 Your Basket
                                            ul.list-group.list-group-flush
                                                // list group item
                                                each basketItem in basketItems.basketItems
                                                    li.list-group-item.px-4.py-3
                                                        .row.align-items-center
                                                            .col-2.col-md-2
                                                                img.img-fluid(src=basketItem.image1Path alt='Ecommerce')
                                                            .col-5.col-md-5
                                                                h6.mb-0 #{basketItem.name}
                                                                each option in basketItem.options
                                                                    span
                                                                        small #{option.optionType}: #{option.name}
                                                                        br
                                                                each finishingOption in basketItem.finishingOptions
                                                                    span
                                                                        small #{finishingOption.optionType}: #{finishingOption.name}
                                                                        br
                                                            .col-2.col-md-2.text-center.text-muted
                                                                span #{basketItem.quantity}
                                                            .col-3.text-lg-end.text-start.text-md-end.col-md-3
                                                                if(basketItem.saleFk || basketItem.promoCodeFk)
                                                                    span.fw-bold(style="text-decoration: line-through; ") £#{basketItem.price}
                                                                    br
                                                                    span.text-danger £#{basketItem.subTotal}
                                                                else 
                                                                    span.fw-bold £#{basketItem.price}
                                            
                                            // list group item
                                            //- li.list-group-item.px-4.py-3(style="font-size:9pt")
                                                
                                            //-     .row
                                            //-         .d-flex.align-items-center.justify-content-between
                                            //-             #deliverySubTotalSection(style="width:100%")
                                            //-                 div

     
                                            //- // list group item
                                            //- li.list-group-item.px-4.py-3
                                            //-     .d-flex.align-items-center.justify-content-between.fw-bold
                                            //-         div
                                            //-             | Total
                                            //-         div#total
                                            //-             | 

                                    button.btn.btn-primary.ms-2.mt-4#submit(type="submit" style="width:95%") Place Order




            +footer()
            +scripts()
            script(src="https://js.stripe.com/v3/")
            script(src="/js/checkout.js")