doctype html
html(land="en")
    include common/head.pug
    include common/header.pug
    include common/navbar.pug
    include common/footer.pug
    include common/scripts.pug
    +head()
    #preloader
        #status
            .bouncing-loader
                div
                div
                div 
    body
        +header()
        +navbar()
        main
            section.my-lg-14.my-8
                .container
                    // row
                    .row.justify-content-center.align-items-center
                        .col-12.col-md-6.col-lg-4.order-lg-1.order-2
                            // img
                            img.img-fluid(src='../assets/images/svg-graphics/signin-g.svg' alt='')
                        // col
                        .col-12.col-md-6.offset-lg-1.col-lg-4.order-lg-2.order-1
                            
                            h5 CHECKOUT
                            .mb-lg-9.mb-5
                                ul#myTab.nav.nav-pills.nav-lb-tab(role='tablist')
                                    // nav item
                                    li.nav-item(role='presentation')
                                        // btn
                                        button#login-tab.nav-link.active(data-bs-toggle='tab' data-bs-target='#login-tab-pane' type='button' role='tab' aria-controls='login-tab-pane' aria-selected='true') Log in
                                    li.nav-item(role='presentation')
                                        // btn
                                        button#signup-tab.nav-link(data-bs-toggle='tab' data-bs-target='#signup-tab-pane' type='button' role='tab' aria-controls='signup-tab-pane' aria-selected='false') Create Account

                                    // nav item
                                    li.nav-item(role='presentation')
                                        // btn
                                        button#guest-tab.nav-link(data-bs-toggle='tab' data-bs-target='#guest-tab-pane' type='button' role='tab' aria-controls='guest-tab-pane' aria-selected='false') As Guest
                            
                                #myTabContent.tab-content
                                    // tab pane
                                    #login-tab-pane.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='login-tab' tabindex='0')
                                        //- h1.mb-1.h2.fw-bold Log in  
                                        form(action="/checkout_login" method="post")
                                            .row.g-3.mt-4
                                                // row
                                                if(error)
                                                    p.text-danger #{error}
                                                .col-12
                                                    // input
                                                    input#email.form-control(type='email' placeholder='Email' name="email" required value='')
                                                .col-12
                                                    // input
                                                    .password-field.position-relative
                                                        input#password.form-control(type='password' name="password" placeholder='Enter Password' required value='')
                                                        //- span
                                                            i#passwordToggler.bi.bi-eye-slash
                                                
                                                // btn
                                                .col-12.d-grid
                                                    button.btn.btn-primary(type='submit') Log In
                                                // link
                                                //- div
                                                    div
                                                        | Forgot password? 
                                                        a(href='#') Reset It
                                                    | Don&rsquo;t have an account? 
                                                    a(href='/signup')  Sign Up
                                    // tab pane
                                    #signup-tab-pane.tab-pane.fade(role='tabpanel' aria-labelledby='guest-tab' tabindex='0')
                                        form(action="/signup/checkout" method="post")
                                            .row.g-3.mt-4
                                                // row
                                                .col-12
                                                    // input
                                                    input#name.form-control(type='text' placeholder='Name' name="name" required)
                                                    if(errors && errors.name)
                                                        p.error#error.small.text-danger.mt-2 #{errors.name}
                                                .col-12
                                                    // input
                                                    input#email.form-control(type='email' placeholder='Email' name="email" required)
                                                    if(errors && errors.email)
                                                        p.error#error.small.text-danger.mt-2 #{errors.email}
                                                .col-12
                                                    // input
                                                    .password-field.position-relative
                                                        input#password.form-control(type='password' name="password" placeholder='Enter Password' required)
                                                        //- span
                                                            i#passwordToggler.bi.bi-eye-slash
                                                        if(errors && errors.password)
                                                            p.error#error.small.text-danger.mt-2 #{errors.password}
                                                
                                                .col-12
                                                    // input
                                                    input#phoneNumber.form-control.mb-2(type='text' placeholder='Phone Number' name="phoneNumber" required)
                                                    p.text-danger#phoneNumberError
                                                // btn
                                                .col-12.d-grid
                                                    button.btn.btn-primary(type='submit') Sign Up

                                    #guest-tab-pane.tab-pane.fade(role='tabpanel' aria-labelledby='guest-tab' tabindex='0')
                                        
                                        form(action="/checkout_as_guest" method="post")
                                            .row.g-3.mt-4
                                                
                                                .col-12
                                                    // input
                                                    input#email.form-control(type='email' placeholder='Email' name="email" required)
                                                    if(errors && errors.email)
                                                        p.error#error.small.text-danger.mt-2 #{errors.email}

                                                // btn
                                                .col-12.d-grid
                                                    button.btn.btn-primary(type='submit') Continue as Guest
                            







        +footer()
        +scripts()
        script(src="/js/signup.js")
        //- script(src='../assets/js/vendors/password.js')
        