doctype html

html(land="en")
    include common/adminHead.pug
    include common/adminSideNav.pug
    include common/adminTopNavbar.pug
    include common/adminScripts.pug
    include common/adminAccountSideBar.pug
    +adminHead()
    link(rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css")
    // main
    div
        if(message)
            #toast.toast.show.toast_alert.align-items-center.text-white.bg-primary.border-0(role='alert' aria-live='assertive' aria-atomic='true')
                .d-flex
                    .toast-body(style="width:100%")
                        h6.text-white(style="text-align:center") #{message}
                    button.btn-close.btn-close-white.me-2.m-auto(type='button' data-bs-dismiss='toast' aria-label='Close')
            input#message(type="hidden" value=message)
        

        +adminTopNavbar()
        .main-wrapper
            // navbar vertical
            +adminSideNav()
            // main wrapper
            main.main-content-wrapper
                .container
                    .row.mb-8
                        .col-md-12
                            // page header
                            .d-md-flex.justify-content-between.align-items-center
                                div
                                    h2 Navigation Bar Headers
                                    // breacrumb
                                    nav(aria-label='breadcrumb')
                                        ol.breadcrumb.mb-0
                                            li.breadcrumb-item
                                                a.text-inherit(href='/admin-dashboard') Dashboard
                                            
                                            li.breadcrumb-item.active(aria-current='page') Navigation Bar Headers
                                // button

                    section
                        .container
                            // row
                            .row.mb-3
                                .col-sm-2
                                    label Postion 1
                                    select.form-control#position1
                                        option(value=0)
                                        
                                        each productType in productTypes 
                                            option(value=productType.id selected=(productType.id == navigationBarHeaders.productTypeFk1)) #{productType.productType}  
                                .col-sm-2
                                    label Postion 2
                                    select.form-control#position2
                                        option(value=0)
                                        each productType in productTypes 
                                            option(value=productType.id  selected=(navigationBarHeaders.productTypeFk2 == productType.id)) #{productType.productType}  
                                .col-sm-2
                                    label Postion 3
                                    select.form-control#position3
                                        option(value=0)
                                        each productType in productTypes 
                                            option(value=productType.id  selected=(navigationBarHeaders.productTypeFk3 == productType.id)) #{productType.productType}  
                                .col-sm-2
                                    label Postion 4
                                    select.form-control#position4
                                        option(value=0)
                                        each productType in productTypes 
                                            option(value=productType.id  selected=(navigationBarHeaders.productTypeFk4 == productType.id)) #{productType.productType}  
                                .col-sm-2
                                    label Postion 5
                                    select.form-control#position5
                                        option(value=0)
                                        each productType in productTypes 
                                            option(value=productType.id  selected=(navigationBarHeaders.productTypeFk5 == productType.id)) #{productType.productType}  
                            .row.mb-3
                                .col-sm-2
                                    label Postion 6
                                    select.form-control#position6
                                        option(value=0)
                                        each productType in productTypes 
                                            option(value=productType.id  selected=(navigationBarHeaders.productTypeFk6 == productType.id)) #{productType.productType}  
                                .col-sm-2
                                    label Postion 7
                                    select.form-control#position7
                                        option(value=0)
                                        each productType in productTypes 
                                            option(value=productType.id  selected=(navigationBarHeaders.productTypeFk7 == productType.id)) #{productType.productType}  
                                .col-sm-2
                                    label Postion 8
                                    select.form-control#position8
                                        option(value=0)
                                        each productType in productTypes 
                                            option(value=productType.id  selected=(navigationBarHeaders.productTypeFk8 == productType.id)) #{productType.productType}  
                                .col-sm-2
                                    label Postion 9
                                    select.form-control#position9
                                        option(value=0)
                                        each productType in productTypes 
                                            option(value=productType.id  selected=(navigationBarHeaders.productTypeFk9 == productType.id)) #{productType.productType}  
                                .col-sm-2
                                    label Postion 10
                                    select.form-control#position10
                                        option(value=0)
                                        each productType in productTypes 
                                            option(value=productType.id  selected=(navigationBarHeaders.productTypeFk10 == productType.id)) #{productType.productType}  
                                p#error.text-danger
                            .row
                                .col-sm-2
                                    button#saveChanges.btn.btn-primary(type="button") Save Changes
        +adminScripts()
        script(src="/js/navigationBarHeaders.js")
        script(src="/js/adminDashboard.js")