doctype html

html(land="en")
    include common/adminHead.pug
    include common/adminSideNav.pug
    include common/adminTopNavbar.pug
    include common/adminScripts.pug
    include common/productSideBar.pug
    include common/productNavigationHeader.pug
    +adminHead()
    link(href='/assets/libs/dropzone/dist/min/dropzone.min.css' rel='stylesheet')
    link(href='/assets/css/croppie.css' rel='stylesheet')
    link(href='/assets/css/pictureUpload.css' rel='stylesheet')
    #overlay
        
        .container
                .row.justify-content-center

                    .col-md-6.col-lg-6
                        
                        .form-styled.bg-white(style="height:240px;margin-top:100px; padding:10px")

                            
                            
                            div#section

                                div.mt-10
                                    p#modal-message(style="text-align:center")
                                    .row
                                        .col-lg-6.text-center
                                            button.btn.btn-outline-primary.btn-block.mt-3(id="confirmModal") Yes
                                        
                                        .col-lg-6.text-center
                                            button.btn.btn-outline-primary.btn-block.mt-3(id ="cancelModal" ) Cancel
    // main
    // main
    div
        if(message)
            #toast.toast.show.toast_alert.align-items-center.text-white.bg-primary.border-0(role='alert' aria-live='assertive' aria-atomic='true')
                .d-flex
                    .toast-body(style="width:100%")
                        h6.text-white(style="text-align:center") #{message}
                    button.btn-close.btn-close-white.me-2.m-auto(type='button' data-bs-dismiss='toast' aria-label='Close')
            input#message(type="hidden" value=message)
        +adminTopNavbar()
        .main-wrapper
            // navbar vertical
            +adminSideNav()
            // main wrapper
            main.main-content-wrapper
                // container
                .container(style="max-width:100%")
                    // row
                    +productNavigationHeader(product)
                    // row
                    .row
                        +productSideBar('page2', statuses)
                        .col-lg-9.col-9
                            if(product != null)
                                input#productId(type="hidden" value=product.id)
                                input#product(type="hidden" value=product)
                            // card
                            .card.mb-6.card-lg
                                // card body
                                .card-body.p-6
                                    form#form
                                        .row
                                            h4.mb-4.h5 Quantities 
                                            .mb-3.col-lg-12.mt-5#quantities-container
                                                .col-sm-5
                                                p.text-danger.small#error
                                                label.form-label Select Quantities
                                                select.form-control#quantities(style="height: 200px" required multiple)
                                                    each quantity in quantities
                                                        option(value=quantity.id selected=(selectedQuantities.map(q => q.id).includes(quantity.id))) #{quantity.quantity}

                                        
                                        .row
                                            //- .col-sm-6
                                            //-     .d-grid
                                            //-         button.btn.btn-light-primary#save(type='submit')
                                            //-             | Save
                                            .col-sm-6.offset-sm-3
                                                .d-grid
                                                    button.btn.btn-primary#continue(type='submit')
                                                        | Continue
                                            //- //- form#form
                                            //- // input
                                            //- //- .mb-2
                                            //-     label.form-label  Status
                                            //-     br
                                            //-     .form-check.form-check-inline
                                            //-         input#active.form-check-input(type='radio' name='statusOptions' value='active' checked='')
                                            //-         label.form-check-label(for='inlineRadio1') Active
                                            //-     // input
                                            //-     .form-check.form-check-inline
                                            //-         input#inlinedisRadio2.form-check-input(type='radio' name='statusOptions' value='deactive')
                                            //-         label.form-check-label(for='inlineRadio2') Deactive
                                            //- .mb-3.col-lg-6
                                            //-     label.form-label Product Name
                                            //-     input.form-control#name(type='text' value=(product != null ? product.name : ''))
                                            //-     p.invalid-feedback#nameError
                                            //- // input
                                            //- .mb-3.col-lg-6
                                            //-     label.form-label Product Type
                                            //-     select.form-select#productType
                                            //-         each productType in productTypes 
                                            //-             option(value=productType.id selected=(product != null && product.productTypeFk == productType.id)) #{productType.productType}
                                                
                                            //- div
                                            //-     .mb-3.col-lg-12.mt-5
                                            //-         // heading
                                            //-         label.form-label Product Images
                                            //-         // input
                                            //-         .row 
                                            //-             .col-2.mr-2.label-container
                                            //-                 if(product != null && product.image1Path)
                                            //-                     label.border-dashed.rounded-2.text-center.label#picture1Label(for="picture1" style='font-size:8pt !important;cursor:pointer; background-size:cover; background-position:center; background-image: url("' + product.image1Path + '")')
                                            //-                     button.small-button.btn.btn-danger(type="button") X
                                            //-                     input.picture(id="picture1" type='file' style="opacity:0" accept="image/x-png,image/jpeg" )
                                            //-                 else
                                            //-                     label.dropzone.border-dashed.rounded-2.text-center.label#picture1Label(for="picture1" style="font-size:8pt !important;cursor:pointer;") Add Main Picture
                                            //-                     input.picture(id="picture1" type='file' style="opacity:0" accept="image/x-png,image/jpeg" )
                                                            
                                            //-             .col-2.label-container
                                            //-                 if(product != null && product.image2Path)
                                            //-                     label.border-dashed.rounded-2.text-center.label(for="picture2" style='font-size:8pt !important;cursor:pointer; background-size:cover; background-position:center; background-image: url("' + product.image2Path + '")')
                                            //-                     button.small-button.btn.btn-danger(type="button") X
                                            //-                     input.picture(id="picture2" type='file' style="opacity:0" accept="image/x-png,image/jpeg" )

                                            //-                 else 
                                            //-                     label.dropzone.border-dashed.rounded-2.text-center.label(for="picture2" style="font-size:8pt !important;cursor:pointer;") Add Picture 2
                                            //-                     input.picture(id="picture2" type='file' style="opacity:0" accept="image/x-png,image/jpeg" )
                                            //-                 p.small.text-danger(id="picture2Error")
                                                        
                                            //-             .col-2.label-container
                                            //-                 if(product != null && product.image3Path)
                                            //-                     label.border-dashed.rounded-2.text-center.label(for="picture3" style='font-size:8pt !important;cursor:pointer; background-size:cover; background-position:center; background-image: url("' + product.image3Path + '")')
                                            //-                     button.small-button.btn.btn-danger(type="button") X
                                            //-                     input.picture(id="picture3" type='file' style="opacity:0" accept="image/x-png,image/jpeg" )
                                            //-                 else
                                            //-                     label.dropzone.border-dashed.rounded-2.text-center.label(for="picture3" style="font-size:8pt !important;cursor:pointer;") Add Picture 3
                                            //-                     input.picture(id="picture3" type='file' style="opacity:0" accept="image/x-png,image/jpeg" )
                                            //-                 p.small.text-danger(id="picture3Error")

                                            //-             .col-2.label-container
                                            //-                 if(product != null && product.image4Path)
                                            //-                     label.border-dashed.rounded-2.text-center.label(for="picture4" style='font-size:8pt !important;cursor:pointer; background-size:cover; background-position:center; background-image: url("' + product.image4Path + '")')
                                            //-                     button.small-button.btn.btn-danger(type="button") X
                                            //-                     input.picture(id="picture4" type='file' style="opacity:0" accept="image/x-png,image/jpeg" )
                                            //-                 else
                                            //-                     label.dropzone.border-dashed.rounded-2.text-center.label(for="picture4" style="font-size:8pt !important;cursor:pointer;") Add Picture 4
                                            //-                     input.picture(id="picture4" type='file' style="opacity:0" accept="image/x-png,image/jpeg" )
                                            //-                 p.small.text-danger(id="picture4Error")
                                            //-             .col-2.label-container
                                            //-                 if(product != null && product.image5Path)
                                            //-                     label.border-dashed.rounded-2.text-center.label(for="picture5" style='font-size:8pt !important;cursor:pointer; background-size:cover; background-position:center; background-image: url("' + product.image5Path + '")')
                                            //-                     button.small-button.btn.btn-danger(type="button") X
                                            //-                     input.picture(id="picture5" type='file' style="opacity:0" accept="image/x-png,image/jpeg" )
                                            //-                 else
                                            //-                     label.dropzone.border-dashed.rounded-2.text-center.label(for="picture5" style="font-size:8pt !important;cursor:pointer;") Add Picture 5
                                            //-                     input.picture(id="picture5" type='file' style="opacity:0" accept="image/x-png,image/jpeg" )
                                            //-                 p.small.text-danger(id="picture5Error")
                                            //-         .row 
                                            //-             p.small.text-danger.mt-3(id="picture1Error") 
                                            //- // input
                                            //- .mb-3.col-lg-12.mt-5
                                            //-     label.form-label Main Product Description
                                            //-     if(product != null)
                                            //-         textarea.form-control#description(style="height:150px") #{product.description}
                                            //-     else 
                                            //-         textarea.form-control#description(style="height:150px")
                                            //-     p.small.text-danger(id="descriptionError")

                                            //- .mb-3.col-lg-5
                                            //-     label.form-label Sub Product Description Title
                                            //-     input.form-control#subDescriptionTitle(type='text' placeholder='' value=(product != null ? product.subDescriptionTitle : ''))
                                            //-     p.small.text-danger(id="subDescriptionTitleError")
                                            //- // input
                                            //- .mb-3.col-lg-12
                                            //-     label.form-label Sub Product Description
                                            //-     if(product != null)
                                            //-         textarea.form-control#subDescription(style="height:100px") #{product.subDescription}
                                            //-     else 
                                            //-         textarea.form-control#subDescription(style="height:100px")
                                            //-     p.small.text-danger(id="subDescriptionError")
                                            //- #container
                                            //-     label.form-label Description Bullet Point(s)
                                            //-     .row.mb-3
                                            //-         .col-sm-10
                                                        
                                            //-             input.form-control(type='text' name='input[]' value=(product != null ? product.descriptionPoint1 : ''))
                                            //-         .col-sm-1
                                                    
                                            //-             button.btn.btn-primary.add-btn(type='button') +
                                            //-         .col-sm-1
                                                    
                                            //-     if(product != null && product.descriptionPoint2)
                                            //-         .row.mb-3
                                            //-             .col-sm-10
                                                            
                                            //-                 input.form-control(type='text' name='input[]' value=product.descriptionPoint2)
                                            //-             .col-sm-1
                                            //-                 button.btn.btn-primary.description-point.remove-btn.btn-danger(type='button') -
                                            //-             .col-sm-1
                                            //-                 if(product.descriptionPoint3 == null)
                                            //-                     button.btn.btn-primary.add-btn(type='button') +

                                            //-     if(product != null && product.descriptionPoint3)
                                            //-         .row.mb-3
                                            //-             .col-sm-10
                                                            
                                            //-                 input.form-control(type='text' name='input[]' value=product.descriptionPoint3)
                                            //-             .col-sm-1
                                            //-                 button.btn.btn-primary.description-point.remove-btn.btn-danger(type='button') -
                                            //-             .col-sm-1
                                            //-                 if(product.descriptionPoint4 == null)
                                            //-                     button.btn.btn-primary.add-btn(type='button') +
                                                
                                            //-     if(product != null && product.descriptionPoint4)
                                            //-         .row.mb-3
                                            //-             .col-sm-10
                                                            
                                            //-                 input.form-control(type='text' name='input[]' value=product.descriptionPoint4)
                                            //-             .col-sm-1
                                            //-                 button.btn.btn-primary.description-point.remove-btn.btn-danger(type='button') -
                                            //-             .col-sm-1
                                            //-                 if(product.descriptionPoint5 == null)
                                            //-                     button.btn.btn-primary.add-btn(type='button') +

                                            //-     if(product != null && product.descriptionPoint5)
                                            //-         .row.mb-3
                                            //-             .col-sm-10
                                                            
                                            //-                 input.form-control(type='text' name='input[]' value=product.descriptionPoint5)
                                            //-             .col-sm-1
                                            //-                 button.btn.btn-primary.description-point.remove-btn.btn-danger(type='button') -
                                            //-             .col-sm-1
                                            //-                 if(product.descriptionPoint6 == null)
                                            //-                     button.btn.btn-primary.add-btn(type='button') +

                                            //-     if(product != null && product.descriptionPoint6)
                                            //-         .row.mb-3
                                            //-             .col-sm-10
                                            //-                 input.form-control(type='text' name='input[]' value=product.descriptionPoint6)
                                            //-             .col-sm-1
                                            //-                 button.btn.btn-primary.description-point.remove-btn.btn-danger(type='button') -
                                            //-             .col-sm-1

                                            
                                            
                       



        +adminScripts()
        script(src='/assets/libs/quill/dist/quill.min.js')
        script(src='/assets/js/vendors/editor.js')
        script(src='/assets/libs/dropzone/dist/min/dropzone.min.js')
        script(src='/assets/js/croppie.js')
        script(src='/js/productPage2.js')
        script(src="/js/adminDashboard.js")
        script(src="/js/productClone.js")