mixin header()
    header.py-lg-5.py-4.border-bottom.border-bottom-lg-0
        .container(style=(user.accountTypeFk == 1 ? "margin-top:4rem" : ""))
            if(user.accountTypeFk == 1)
                .row#cookieDiv
                    .col-lg-12.col-md-12
                        .admin(style="text-align:center")
                            .row
                                .col-sm-6 
                                    p(style="color:white") ADMIN SESSION
                                .col-sm-6 
                                    a(href="/admin-dashboard").text-white Go To Dashboard

                        

            .row.w-100.align-items-center.gx-3
                .col-xl-7.col-lg-8
                    .d-flex.align-items-center
                        a.navbar-brand.d-none.d-lg-block(href='/' style="width:40%")
                            img(src=companyDetails.COMPANY_LOGO style="width:100%" alt='Bluwave Company Logo')
                        .w-100.ms-4.d-none.d-lg-block
                            form(action='#')
                                .input-group
                                    input.form-control.rounded.search(type='search' autocomplete="on" style="width:400px;" placeholder='Search for products')
                                    
                    .d-flex.justify-content-between.align-items-center.w-100.d-lg-none
                        a.navbar-brand.mb-0(href='/' style="width:40%")
                            img(src=companyDetails.COMPANY_LOGO style="width:100%" alt='eCommerce HTML Template')
                        .d-flex.align-items-center.lh-1
                            .list-inline.me-4
                                
                                .list-inline-item
                                    .dropdown
                                        a.text-reset(href='#' data-bs-toggle='dropdown' aria-expanded='false')
                                            span
                                                svg.feather.feather-shopping-cart.align-text-bottom(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                                                    circle(cx='9' cy='21' r='1')
                                                    circle(cx='20' cy='21' r='1')
                                                    path(d='M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6')
                                            span  £#{basketItems.subTotalCost}
                                        .dropdown-menu.dropdown-menu-end.dropdown-menu-lg.p-5
                                            .d-flex.justify-content-between.align-items-center.border-bottom.pb-5.mb-3
                                                div
                                                    span
                                                        i.feather-icon.icon-shopping-cart
                                                    span.text-success  #{basketItems.basketItems.length}
                                                div
                                                    span Total:
                                                    span.text-success  £#{basketItems.subTotalCost}
                                            ul.list-group.list-group-flush
                                                each basketItem in basketItems.basketItems
                                                    .row.align-items-center.g-0
                                                        .col-lg-3.text-center
                                                            // img
                                                            img.icon-xxl(src=basketItem.image1Path alt='Ecommerce')
                                                        .col-lg-7
                                                            // title
                                                            a.text-inherit(href='/shop/' + basketItem.name)
                                                                h6.mb-0 #{basketItem.name}
                                                            small.text-muted Quantity: #{basketItem.quantity}
                                                            br
                                                            small.text-muted £#{basketItem.price}
                                                        // price
                                                        .text-end.col-lg-2
                                                            p.text-inherit(data-basketitemid=basketItem.id aria-label='Close')
                                                                i.bi.bi-x.fs-4
                                             
                                            .mt-2.d-grid
                                                if(basketItems.basketItems.length > 0)   
                                                    a.btn.btn-primary(href='/checkout') Checkout
                                                    a.btn.btn-light.mt-2(href='/basket') View Basket
                                                else 
                                                    p Empty Basket
                                            
                            // Button
                            button.navbar-toggler.collapsed(type='button' data-bs-toggle='offcanvas' data-bs-target='#navbar-default' aria-controls='navbar-default' aria-expanded='false' aria-label='Toggle navigation')
                                svg.bi.bi-text-indent-left.text-primary(xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='currentColor' viewbox='0 0 16 16')
                                    path(d='M2 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm.646 2.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L4.293 8 2.646 6.354a.5.5 0 0 1 0-.708zM7 6.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm-5 3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z')
                .col-xl-5.col-lg-4.d-flex.align-items-center
                    .list-inline.ms-auto.d-lg-block
                        .list-inline-item.me-3
                            if(user.guestFl == true)
                                a.text-reset(href='/signup')
                                    | Sign Up
                            //- else 
                                p #{user.name}
                        if(user.accountTypeFk == 2)
                            .list-inline-item.me-3
                                .dropdown.d-none.d-xl-block
                                    
                                    a.dropdown-toggle.text-reset(href='#' data-bs-toggle='dropdown' aria-expanded='false')
                                        span
                                            svg.feather.feather-shopping-cart.align-text-bottom(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                                                circle(cx='9' cy='21' r='1')
                                                circle(cx='20' cy='21' r='1')
                                                path(d='M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6')
                                        span  £#{basketItems.subTotalCost}
                                    .dropdown-menu.dropdown-menu-end.dropdown-menu-lg.p-5
                                        .d-flex.justify-content-between.align-items-center.border-bottom.pb-5
                                            div
                                                span
                                                    i.feather-icon.icon-shopping-cart
                                                span.text-success  #{basketItems.basketItems.length}
                                            div
                                                span Total:
                                                span.text-success  £#{basketItems.subTotalCost}
                                        ul.list-group.list-group-flush
                                            li.list-group-item.px-0.py-3
                                                each basketItem in basketItems.basketItems
                                                    .row.align-items-center.g-0
                                                        .col-lg-3.text-center
                                                            // img
                                                            img.icon-xxl(src=basketItem.image1Path alt='Ecommerce')
                                                        .col-lg-7
                                                            // title
                                                            a.text-inherit(href='/shop/' + basketItem.name)
                                                                h6.mb-0 #{basketItem.name}
                                                            small Quantity: #{basketItem.quantity}
                                                            br
                                                            if(basketItem.saleFk || basketItem.promoCodeFk) 
                                                                span(style="text-decoration: line-through; padding-right: 10px;")
                                                                    small.text-muted £#{basketItem.price}
                                                                span(style="font-weight:600")
                                                                    small.text-danger £#{basketItem.subTotal}
                                                            else 
                                                                small.text-muted £#{basketItem.subTotal}
                                                        // price
                                                        .text-end.col-lg-2
                                                            p.text-inherit(data-basketitemid=basketItem.id aria-label='Close')
                                                                i.bi.bi-x.fs-4
                                        
                                        .mt-2.d-grid
                                            if(basketItems.basketItems.length > 0) 
                                                a.btn.btn-primary(href='/checkout') Checkout
                                                a.btn.btn-light.mt-2(href='/basket') View Basket

                                            else 
                                                h4.text-center Empty Basket
                        .list-inline-item
                            if(user.guestFl == true)
                                a.btn.btn-primary.d-xl-block(href='/login')
                                    | Log In
                            else if(user.accountTypeFk == 2)
                            
                                
                                li.dropdown.ms-4
                                    a.nav-link(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                                        span
                                            svg.feather.feather-user(xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                                                path(d='M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2')
                                                circle(cx='12' cy='7' r='4')
                                    .dropdown-menu.dropdown-menu-end.p-0
                                        .lh-1.px-5.py-4.border-bottom
                                            h5.mb-1.h6 #{user.name}
                                            small #{user.email}
                                        ul.list-unstyled.px-5.py-3(style="margin-bottom: auto")
                                            //- li
                                            //-     a.nav-link(href='/')
                                            //-         i.feather-icon.icon-user.me-2
                                            //-         | Profile
                                            li
                                                a.nav-link(href='/account/' + user.id + '/orders')
                                                    i.feather-icon.icon-shopping-bag.me-2
                                                    | Orders
                                            li
                                                a.nav-link(href='/account/' + user.id + '/settings')
                                                    i.feather-icon.icon-settings.me-2
                                                    | Settings
                                        .border-top.px-5.py-3
                                            a.nav-link(href='/logout')
                                                i.feather-icon.icon-log-out.me-2
                                                | Log Out

