mixin navbar()
    nav.navbar.navbar-expand-lg.navbar-light.navbar-default.py-0.py-lg-2.border-top.navbar-offcanvas-color(aria-label='Offcanvas navbar large')
        .container
            #navbar-default.offcanvas.offcanvas-start(tabindex='-1' aria-labelledby='navbar-defaultLabel')
                .offcanvas-header.pb-1
                    a(href='/' style="width:100%")
                        img(src=companyDetails.COMPANY_LOGO alt='eCommerce HTML Template' style="width:50%")
                .offcanvas-body
                    .d-block.d-lg-none.mb-4
                        form(action='#')
                            .input-group
                                input.search.form-control.rounded(type='search' placeholder='Search for products')
                                span.input-group-append
                                    button.btn.bg-white.border.border-start-0.ms-n10.rounded-0.rounded-end(type='button')
                                        svg.feather.feather-search(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                                            circle(cx='11' cy='11' r='8')
                                            line(x1='21' y1='21' x2='16.65' y2='16.65')
                        
                    div
                        ul.navbar-nav.align-items-center
                            
                            li.nav-item.dropdown.dropdown-fullwidth
                                a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                                    | All Products
                                .dropdown-menu.pb-0
                                    .row.p-2.p-lg-4
                                        .col-lg-3.col-12.mb-4.mb-lg-0
                                            each productType, index in allProductTypes
                                                if(index < 10)
                                                    a.dropdown-item(href='/shop?type=' + encodeURIComponent(productType.productType)) #{productType.productType}
                                            

                                        .col-lg-3.col-12.mb-4.mb-lg-0
                                            each productType, index in allProductTypes
                                                if(index < 20 && index >= 10)
                                                    a.dropdown-item(href='/shop?type=' + encodeURIComponent(productType.productType)) #{productType.productType}
                                            
                                        .col-lg-3.col-12.mb-4.mb-lg-0
                                            each productType, index in allProductTypes
                                                if(index < 30 && index >= 20)
                                                    a.dropdown-item(href='/shop?type=' + encodeURIComponent(productType.productType)) #{productType.productType}
                                           
                                            
                                        .col-lg-3.col-12.mb-4.mb-lg-0
                                            .card.border-0
                                                img.img-fluid(src='/img/business_card2.jpg' alt='eCommerce HTML Template')
                                                .position-absolute.ps-6.mt-8
                                                    //- h5.mb-0
                                                        | Dont miss this 
                                                        br
                                                        | offer today.
                                                    a.btn.btn-primary.btn-sm.mt-3(href='/shop') Shop Now
                            each navigationBarHeader in navigationBarHeaders
                                li.nav-item.dropdown
                                    a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                                        | #{navigationBarHeader.name}
                                    ul.dropdown-menu
                                        each product in navigationBarHeader.products
                                            li
                                                a.dropdown-item(href='/shop?type=' + encodeURIComponent(product.name)) #{product.name}
                                    
                            