<meta http-equiv="Content-Type" content="text/html; charset=utf-8">





<div style="margin:0;padding:0" bgcolor="#FFFFFF">
    <table width="600" bgcolor="#FFFFFF" style="font-family:Arial;border-radius:10px;border:1px solid #dbdbdb"
        border="0" cellspacing="0" cellpadding="0" align="center">
        <tbody>
            <tr>
                <td height="20"></td>
            </tr>
            <tr>
                <td valign="top">
                    <table width="598" border="0" cellspacing="0" cellpadding="0" style="font-family:Arial">
                        <tbody>
                            <tr>
                                <td width="120"><img style="width: 70%; padding-left:10px" src={{logo}}></td>
                                <td width="100"></td>
                                <td width="20"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

            <tr>
                <td valign="top">
                    <table width="598" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td width="20" align="left"></td>
                                <td valign="top" width="560" align="left">
                                    <table width="560" border="0" cellspacing="0" cellpadding="0" align="left"
                                        style="font-family:Arial">
                                        <tbody>
                                            <tr>
                                                <td align="left" width="560" valign="top">
                                                    <table width="560" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td width="267" align="left" valign="top">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="20"></td>
                                                            </tr>
                                                            <tr>
                                                                <td height="20"></td>
                                                            </tr>
                                                            <tr>
                                                                <td width="560" align="left" valign="top">

                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="15"></td>
                                                            </tr>
                                                            <tr>
                                                                <td width="560" align="left">
                                                                    <table align="left" width="560" border="0"
                                                                        cellspacing="0" cellpadding="0"
                                                                        style="font-family:Arial;border:none;font-size:13px;color:#000000;padding-left:10px;padding-right:10px">
                                                                        <tbody>

                                                                            <tr>

                                                                                <td>
                                                                                    <p>Dear {{name}}</p>
                                                                                    <p>Thank you for registering with {{company}}.<br></p>
                                                                                    <p></p>

                                                                                    <table align="left" width="598"
                                                                                        border="0" cellspacing="0"
                                                                                        cellpadding="0"
                                                                                        style="border:none none none none">

                                                                                        <div style="margin-top:20px">
                                                                                            <div style="width: 200px; height: 50px;display: inline-block;">
                                                                                                <a style="margin:5px!important;background: #0F76FA;min-width:80px; color:#fff;padding:10px;text-decoration:none" href={{link}}>Reset Password</a>
                                                                                            </div>
                                                                                        </div>

                                                                                    </table>
                                                                                    <p>Thanks,</p>
                                                                                </td>
                                                                            </tr>

                                                                            <tr>
                                                                                <td></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td
                                                                                    style="font-weight:bold;color:#2d2d2d;">
                                                                                    <p>Bluwave Ltd</p>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td><a href={{url}}
                                                                                        style="color:#023e8f;text-decoration:none"
                                                                                        target="_blank">{{url}}</a>
                                                                                </td>
                                                                            </tr>

                                                                            <tr>
                                                                                <td>&nbsp;</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="8" style="border-bottom:1px solid #f0f0f0">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="560" align="left">
                                                                    <table width="560" cellspacing="0" cellpadding="0"
                                                                        border="0" align="left"
                                                                        style="font-family:Arial;font-size:13px;color:#000000;padding-left:10px;;padding-right:10px">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td height="25"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td
                                                                                    style="font-size:11px;color:#000000">
                                                                                    Please note: This e-mail was sent
                                                                                    from a notification-only address
                                                                                    that cannot accept incoming
                                                                                    emails.<br>
                                                                                    Please do not reply to this email.
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="10"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td
                                                                                    style="font-size:11px;color:#000000">
                                                                                    Bluwave Ltd, Registered in England
                                                                                    and Wales (registered no. 048 400
                                                                                    51) Registered Office: Unit 1b 1a
                                                                                    Philip Walk SE15 3NH, United
                                                                                    Kingdom.</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="10"></td>
                                                                            </tr>

                                                                            <tr>
                                                                                <td>&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>&nbsp;</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td width="20" align="left"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
</div>