<meta http-equiv="Content-Type" content="text/html; charset=utf-8">





<div style="margin:0;padding:0" bgcolor="#FFFFFF">
    <table width="600" bgcolor="#FFFFFF" style="font-family:Arial;border-radius:10px;border:1px solid #dbdbdb"
        border="0" cellspacing="0" cellpadding="0" align="center">
        <tbody>
            <tr>
                <td height="20"></td>
            </tr>
            <tr>
                <td valign="top">
                    <table width="598" border="0" cellspacing="0" cellpadding="0" style="font-family:Arial">
                        <tbody>
                            <tr>
                                <td width="20"></td>
                                <td width="120"><img style="width: 70%; padding-left:10px" src={{logo}}></td>
                                <td width="100"></td>
                                <td width="236"
                                    style="font-size:16px;margin:0;font-weight:bold;color:#004394;text-align:right">
                                    WEB ORDER CONFIRMATION<br>
                                    <span
                                        style="font-size:16px;font-family:Arial;color:#000000;font-weight:normal">Order
                                        Number:
                                        <strong>{{orderNumber}}</strong></span>
                                </td>
                                <td width="20"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td height="20"></td>
            </tr>
            <tr>
                <td valign="top">
                    <table width="598" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td width="20" align="left"></td>
                                <td valign="top" width="560" align="left">
                                    <table width="560" border="0" cellspacing="0" cellpadding="0" align="left"
                                        style="font-family:Arial">
                                        <tbody>
                                            <tr>
                                                <td align="left" width="560" valign="top">
                                                    <table width="560" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td width="267" align="left" valign="top">
                                                                    <table align="left" width="267" border="0"
                                                                        cellspacing="0" cellpadding="0"
                                                                        style="border:1px solid #f1f1f1;border-collapse:collapse">
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="20"></td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left" width="560" valign="top">
                                                                    <table align="left" width="560" border="0"
                                                                        cellspacing="0" cellpadding="0"
                                                                        style="font-family:Arial;border-collapse:collapse;font-size:13px;border:1px solid #f1f1f1">
                                                                        <tbody>
                                                                            <tr style="background:#f1f1f1">
                                                                                <td height="40"
                                                                                    style="vertical-align:middle;border-right:1px solid #d8d8d8;color:#2d2d2d">
                                                                                    <strong>&nbsp;&nbsp;Order
                                                                                        Date</strong>
                                                                                </td>
                                                                                <td height="40"
                                                                                    style="vertical-align:middle;border-right:1px solid #d8d8d8;color:#2d2d2d">
                                                                                    <strong>&nbsp;&nbsp;Order
                                                                                        Number</strong>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="40"
                                                                                    style="border-right:1px solid #e5e5e5;color:#000000">
                                                                                    &nbsp;&nbsp;{{date}}</td>
                                                                                <td height="40"
                                                                                    style="border-right:1px solid #e5e5e5;color:#000000">
                                                                                    &nbsp;&nbsp;{{orderNumber}}</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="20"></td>
                                                            </tr>
                                                            <tr>
                                                                <td width="560" align="left">
                                                                    <table align="left"
                                                                        style="background:#f1f1f1;font-family:Arial"
                                                                        width="560" border="0" cellspacing="0"
                                                                        cellpadding="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td colspan="4" height="13"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td width="20"></td>
                                                                                <td width="250"
                                                                                    style="font-size:13px;color:#000000">
                                                                                    Email Address<br>
                                                                                    <span><a style="color:#054597;text-decoration:none"
                                                                                            href="mailto:" + {{email}}
                                                                                            target="_blank"><strong>{{email}}</strong></a></span>
                                                                                </td>
                                                                                <td width="178"
                                                                                    style="font-size:13px;color:#000000">
                                                                                    Phone Number<br>
                                                                                    <span><b>{{phone}}</b></span>
                                                                                </td>
                                                                                {{#if collect}}
                                                                                <td width="178"
                                                                                    style="font-size:13px;color:#000000">
                                                                                    Collection</td>
                                                                                {{else}}
                                                                                <td width="178"
                                                                                    style="font-size:13px;color:#000000">
                                                                                    Shipping Address<br>
                                                                                    <span><b>{{addressLine1}},
                                                                                            {{#if addressLine2}}
                                                                                            {{addressLine2}},
                                                                                            {{/if}} {{city}},
                                                                                            {{postCode}}</b></span>
                                                                                </td>
                                                                                {{/if}}
                                                                                <td width="20"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td colspan="4" height="18"></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="20"></td>
                                                            </tr>
                                                            <tr>
                                                                <td width="560" align="left" valign="top">
                                                                    <table width="560" border="0" cellspacing="0"
                                                                        cellpadding="0"
                                                                        style="font-family:Arial;border-collapse:collapse;font-size:13px;border:1px solid #f1f1f1">
                                                                        <tbody>
                                                                            <tr style="background:#f1f1f1">
                                                                                <td width="200" height="40"
                                                                                    style="vertical-align:middle;border-right:1px solid #d8d8d8;color:#2d2d2d">
                                                                                    <strong>&nbsp;&nbsp;&nbsp;Product</strong>
                                                                                </td>
                                                                                <td height="40"
                                                                                    style="vertical-align:middle;border-right:1px solid #d8d8d8;color:#2d2d2d">
                                                                                    <strong>&nbsp;&nbsp;&nbsp;Price</strong>
                                                                                </td>
                                                                                <td height="40"
                                                                                    style="vertical-align:middle;border-right:1px solid #d8d8d8;color:#2d2d2d">
                                                                                    <strong>&nbsp;&nbsp;&nbsp;Quantity</strong>
                                                                                </td>
                                                                                <td height="40"
                                                                                    style="vertical-align:middle;border-right:1px solid #d8d8d8;color:#2d2d2d">
                                                                                    <strong>&nbsp;&nbsp;&nbsp;Cost</strong>
                                                                                </td>
                                                                                <td height="40"
                                                                                    style="vertical-align:middle;border-right:1px solid #d8d8d8;color:#2d2d2d">
                                                                            </tr>
                                                                            {{#each orderItems}}
                                                                            <tr>
                                                                                <td
                                                                                    style="color:#000000;border-right:1px solid #ebebeb;padding:18px 5px 12px 10px;vertical-align:middle;font-family:Arial;font-size:13px">
                                                                                    {{productName}}
                                                                                    {{#each options}}
                                                                                        <br>
                                                                                        <span style="color:#adadad; font-size:9pt">{{optionType}}: {{name}}</span>
                                                                                    {{/each}}
                                                                                    {{#each finishingOptions}}
                                                                                        <br>
                                                                                        <span style="color:#adadad; font-size:9pt">{{optionType}}: {{name}}</span>
                                                                                    {{/each}}
                                                                                </td>
                                                                                <td
                                                                                    style="color:#000000;border-right:1px solid #ebebeb;padding:18px 5px 12px 10px;vertical-align:middle;font-family:Arial;font-size:13px">
                                                                                    £{{cost}}</td>
                                                                                <td
                                                                                    style="color:#000000;border-right:1px solid #ebebeb;padding:18px 5px 12px 10px;vertical-align:middle;font-family:Arial;font-size:13px">
                                                                                    {{quantity}}</td>
                                                                                <td
                                                                                    style="color:#000000;border-right:1px solid #ebebeb;padding:18px 5px 12px 10px;vertical-align:middle;font-family:Arial;font-size:13px">
                                                                                    £{{price}}</td>
                                                                            </tr>
                                                                            {{/each}}

                                                                            <tr style="background:#fff3ae">
                                                                                <td colspan="3"
                                                                                    style="font-size:13px;color:#000000;padding:10px 10px 12px;border-right:1px solid #ebe0a0;border-top:1px solid #f1f1f1;text-align:right">
                                                                                    Sub Total</td>
                                                                                <td
                                                                                    style="color:#2d2d2d;padding:10px 10px 12px;vertical-align:top;font-weight:bold;border-top:1px solid #f1f1f1">
                                                                                    £{{subTotal}}</td>
                                                                            </tr>
                                                                            <tr style="background:#fff3ae">
                                                                                <td colspan="3"
                                                                                    style="font-size:13px;color:#000000;padding:10px 10px 12px;border-right:1px solid #ebe0a0;border-top:1px solid #f1f1f1;text-align:right">
                                                                                    {{deliveryType}}</td>
                                                                                <td
                                                                                    style="color:#2d2d2d;padding:10px 10px 12px;vertical-align:top;font-weight:bold;border-top:1px solid #f1f1f1">
                                                                                    £{{deliveryPrice}}</td>
                                                                            </tr>
                                                                            <tr style="background:#fff3ae">
                                                                                <td colspan="3"
                                                                                    style="font-size:13px;color:#000000;padding:10px 10px 12px;border-right:1px solid #ebe0a0;border-top:1px solid #f1f1f1;text-align:right">
                                                                                    Total (inc VAT): </td>
                                                                                <td
                                                                                    style="color:#2d2d2d;padding:10px 10px 12px;vertical-align:top;font-weight:bold;border-top:1px solid #f1f1f1">
                                                                                    £{{total}}</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="15"></td>
                                                            </tr>
                                                            <tr>
                                                                <td width="560" align="left">
                                                                    <table align="left" width="560" border="0"
                                                                        cellspacing="0" cellpadding="0"
                                                                        style="font-family:Arial;font-size:13px;color:#000000">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td
                                                                                    style="font-size:13px;color:#2d2d2d;font-weight:bold">
                                                                                    Order Notes:</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="padding:10px 0">Thank you for
                                                                                    your order.
                                                                                    <p>Please keep a note of your Order
                                                                                        Number {{orderNumber}}. You will
                                                                                        need this should you need to
                                                                                        contact us in the future
                                                                                        regarding your order.</p>

                                                                                    <p>If you have any queries regarding
                                                                                        your order please call on 020
                                                                                        7277 7663. Our Service lines are
                                                                                        open: Monday to Friday between
                                                                                        9:00am-6:00pm.</p>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Kind Regards,</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td
                                                                                    style="font-weight:bold;color:red;padding:5px 0 2px">
                                                                                    {{company}}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td><a href={{url}}
                                                                                        style="color:#023e8f;text-decoration:none"
                                                                                        target="_blank">{{url}}</a></td>
                                                                            </tr>

                                                                            <tr>
                                                                                <td>&nbsp;</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="8" style="border-bottom:1px solid #f0f0f0">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="560" align="left">
                                                                    <table width="560" cellspacing="0" cellpadding="0"
                                                                        border="0" align="left"
                                                                        style="font-family:Arial;font-size:13px;color:#000000">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td height="25"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td
                                                                                    style="font-size:11px;color:#000000">
                                                                                    Please note: This e-mail was sent
                                                                                    from a notification-only address
                                                                                    that cannot accept incoming
                                                                                    emails.<br>
                                                                                    Please do not reply to this email.
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="10"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td
                                                                                    style="font-size:11px;color:#000000">
                                                                                    Bluwave Ltd, Registered in England
                                                                                    and Wales (registered no. 048 400
                                                                                    51) Registered Office: Unit 1b 1a
                                                                                    Philip Walk SE15 3NH, United
                                                                                    Kingdom.</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="10"></td>
                                                                            </tr>

                                                                            <tr>
                                                                                <td>&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>&nbsp;</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td width="20" align="left"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
</div>

</div>
</div>